@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p id="title">Bursa Spor Okulu</p>
        <p class="lead">Hoş Geldiniz.</p>
    </section>

    
</main>