@model obs.Models.user
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center">Giriş Yap</h2>
                        <p class="text-danger">@ViewBag.Mesaj</p>
                        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input name="useremail" type="text" placeholder="Kullanıcı Email" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <input name="userpasswd" type="password" placeholder="Parola" class="form-control" required />
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Giriş Yap" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

